$primaryColor: #1082e6;
$primaryColorLight: #40a6ff;
$primaryColorDarker: #184d7a;
$primaryShadow:#ccedfc;

$secondaryColor: #4d61fc;

$white: #ffffff;
$white-1: #e9edf0;
$whiteBackground: #ffffff;

$dark: #171717;
$gray: #60717d;

$yellow: #e8bd13;
$green: #2dcf0c;
$red: #c00701;
$pink:#f80759;
$purple:#800080;
$grayBg:#f4f5f7;

